@import "jquery.ui.css";
@import "theme";

.vdivide {
  width: 6px;
  border: 1px solid #C5C5C5;
  border-width: 0 1px 0 1px;
  border-right-color:  rgba(0, 0, 0, 0.3);
}

#title {
  overflow: hidden;
  height: 50px;
}

#title h1 {
  color: #FFF;
  text-shadow: 0 1px 1px #000;

  line-height: 50px;
  margin: 0;
  padding: 0 25px;
  float: left;

  border-right: 1px solid #181818;
}

#title ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#title ul li {
  padding: 15px 25px;
  float: left;
  cursor: pointer;

  border-right: 1px solid #181818;

  color: #FFF;
  text-shadow: 0 -1px 1px #000;
  font-weight: bold;

 &:active {
    background: #292929;
  }
}

#title ul li span {
  padding: 4px 7px 2px 7px;
  margin-left: 5px;
  text-shadow: 0 -1px 1px #46677F;

  /* Initial state is hidden */
  display: none;
}

#title ul li[data-name="conversations"] span {
}

#title input {
  margin: 13px 15px;
  float: right;
  font-size: 20px;
}

#wrapper {
  position: absolute;
  top:    55px; /* Header */
  right:  5px;
  bottom: 5px;
  left:   5px;
}

#sidebar {
  background: #EDEDED;
  width: 200px;
  overflow: hidden;
}

#sidebar h3 {
  margin:  10px 0 0 0;
  padding: 7px 7px 7px 15px;
  list-style: none;

  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);

  &:first-child {
    margin-top: 0;
  }
}

#sidebar ul {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    display: block;
    padding: 10px 10px 7px 20px;
    border-bottom: 1px solid #CDCDCC;
    cursor: pointer;

  }

  li.current {
    color: #FFF;
    text-shadow: 0 -1px 1px #46677F;
    border-bottom-color: #609FD0;

    -webkit-box-shadow: inset 0 1px 1px #4775B8, inset 0 -1px 1px #3E67A3;
  }
}

#sidebar input[type="search"] {
  font-size: 20px;
  margin: 15px 10px;
  width: 170px;
}

#content {
  overflow: hidden;
}

#content > *:not(.active) {
  display: none !important;
}

#messages {
}

  list-style: none;
  margin: 0;
  padding: 0;
  overflow: auto;

  color: #373737;
  text-shadow: 0 1px 1px #FFF;
}

  position: relative;
  border-bottom: 1px solid #CDCDCC;
  display: block;
  overflow: hidden;

    display: block;
    margin-left: 130px;
    padding: 10px 15px;

    -webkit-user-select: text;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
  }

    display: block;
    float: left;
    width: 90px;
    padding: 10px 20px;

    font-weight: bold;
    text-align: right;
  }

    font-size: 9px;
    color: #7d7d7d;
  }

  &:last-child {
    border-bottom: 0;

    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

  border-top: 1px solid rgba(0, 0, 0, 0.4);

}

  min-height: 60px;
  padding: 10px;
  display: block;

  /* Override theme */
  background: none;
  border: 0;
  font-family: Helvetica, Arial, "MS Trebuchet", sans-serif;

 &:focus {
    outline: none;
  }
}

  margin: 5px;
  color: #FFF;
  text-shadow: 0 -1px 1px #46677F;
  border: 1px solid rgba(0, 0, 0, 0.1);

 &:active {
    border-left-color: #A8A8A8;
    background: #7BB5DB;
  }
}

#settings {
  button {
    padding: 8px 20px;
    font-size: 15px;
  }
}

  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: bold;
  cursor: pointer;
  width: 200px;

  li {
    position: relative;
    padding: 2px 0;
  }


    position: absolute;
    right: 0;
    top: 0;
    display: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
    background: url(/images/destroy.png) no-repeat center center;
  }

    display: block;
  }
}

#settings h2 {
  font-size: 23px;
  padding: 20px 15px;
}

#settings div {
  padding: 0 15px;
}

#searches {
}

  list-style: none;
  margin: 0;
  padding: 0;
  overflow: auto;

  color: #373737;
  text-shadow: 0 1px 1px #FFF;
}

  position: relative;
  border-bottom: 1px solid #CDCDCC;
  display: block;
  overflow: hidden;
  cursor: pointer;

    display: block;
    margin-left: 130px;
    padding: 10px 15px;

    -webkit-user-select: text;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
  }

    display: block;
    float: left;
    width: 90px;
    padding: 10px 20px;

    font-weight: bold;
    text-align: right;
  }

 &:last-child {
    border-bottom: 0;

    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

#searches h2 {
  font-size: 23px;
  padding: 20px 15px;
  margin: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
